<section class="remedies-list">
  <div class="list-header">
    {% if user.type == 0 %}
      <a href="#" data-modal-open="#new-remedy">NOVO MEDICAMENTO</a>
    {% endif %}

    {% if user.type == 1 %}
      <h1>MEDICAMENTOS</h1>
    {% endif %}
  </div>

  {% if remedies.length > 0 %}
    {% for remedy in remedies %}
      <a href="/app/units/{{ activeUnit }}/remedies/{{ remedy.id }}">
        <strong>{{ remedy.name }}</strong>
        <p>Apresentação: {{ remedy.type }}</p>
        <p>Conteúdo: {{ remedy.content }}</p>
      </a>
    {% endfor %}
  {% endif %}

  {% if remedies.length == 0 %}
      <a href="#">
        <strong>Nenhum Medicamento</strong>
      </a>
  {% endif %}

</section>

<div class="modal" id="new-remedy">
  <form class="modal-content" method="POST" action="/app/units/{{ activeUnit }}/remedies/create">
    <input type="text" name="name" placeholder="Nome do medicamento">
    <input type="text" name="type" placeholder="Apresentação do medicamento (comprimido, gotas, etc)">
    <input type="number" name="content" placeholder="Conteúdo do medicamento (10, 500, etc)">
    <input type="text" name="lab" placeholder="Laboratório do medicamento">
    <input type="text" name="code" placeholder="Código do medicamento">

    <button type="submit">SALVAR MEDICAMENTO</button>
    <a href="#" data-modal-close="#new-remedy">CANCELAR</a>
  </form>
</div>
